/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/


canvas
{
    display: block;
    position: absolute;
    border: 2px solid #00F;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
